name: Maven Build

on:
  push:
    branches:
      - master
      - develop
      - develop-*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: 17

    - name: Cache maven repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven

    - name: Build with Maven
      run: mvn -B package

    - name: Build & Push Docker
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        GITHUB_USERNAME: ${{ secrets.GITHUB_USERNAME }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        mvn -B dockerfile:build
        mvn -B dockerfile:tag@tag-version
        mvn -B dockerfile:push@push-latest -Ddockerfile.useMavenSettingsForAuth=true --settings maven-ci-settings.xml
        mvn -B dockerfile:push@push-version -Ddockerfile.useMavenSettingsForAuth=true --settings maven-ci-settings.xml

